/* header styles counten */
body{
    font-family: 'Lato' , sans-serif;
    font-family: 'Open Sans', sans-serif; 
}



.banner{
    background-image: url('../imgaes/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    text-align: right;
}

.banner-counten{
    display: flex;
    font-size: 45px;
    font-weight: 700;
    padding: 100px 100px 0px 700px;
    margin: 0;
}

.banner-geting{
    color:#474747;
    display: flex;
    font-size: 10px;
    padding: 0px 100px 5px 880px;
    
}

.btn-primary{
    /* display: flex; */
    color: white;
    background-color: #FD6E0A;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 0px 100px 100px 900px;
    
}




/* main section styles 1 */




.main-counten{
    /* max-width: 500px; */
    background-image: url('../imgaes/person.png');
    background-repeat: no-repeat;
    /* background-position: top left; */
    background-size: 40% 100%;
    margin: 150px 20px 30px 50px;
}


.counten{
    /* max-width: 500px; */
    /* display: flex; */
    align-items: center;
    padding: 190px 350px 70px 500px;
    /* margin: 200px 250px 50px 600px; */
    justify-content: space-between;
}

.section-title{
    
    font-size: 30px;
    font-weight: 700;
    
}

.section-aitem-title{
    font-size: 13px;

    
}


.green-checkmark {
    color: green;
  }


.bullint-point{
    
    font-size: 13px;
}

/* sectoin styles 2 plans */

.section-titlee{
    text-align: center;
    font-size: 30px;
}

.misoin-skill{
    text-align: center;
    padding: 5px 30px;
    /* padding: 20px 50px; */
    
}

.misoin{
   
    display: flex;
    margin: 20px 200px;
    margin-bottom: 100px;
}

.image{
   width: 45px;
}

.skill{
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
}

.skill-item{
    color: #949090;
    font-weight: 700;
    margin: 5px;
}


/* sectoin style 3*/

.awlays{
    background-image: url('../imgaes/gradient2.png'), url('../imgaes/watch.png');
    background-repeat: no-repeat;
    background-size: cover;

    background-size: 100% 100%;
    margin: 20px 200px 40px 200px;

}

.section-banner{
          padding: 15px 500px 15px 35px;
       
}

.item{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}


.call{
    font-size: 10px;
    font-weight: 700;
    color: #FD6E0A;
    background-color: white;
    padding: 10px 18px;
    border-radius: 3px;
    border: 0;
    margin-bottom: 20px;
}


/* footer related styles */


footer{
    background-color: black;
    /* gap: 100px; */
    color: white;
    display: flex;
    /* padding: 80px 250px 80px 150px; */
}

.footer-column{
    margin: 80px 300px 80px 150px;
    
}


.footer-column-item{
    /* margin: 80px 100px; */
    padding: 100px 150px;
}



.sectione-title{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.footer-item-title{
    font-size: 10px;
    padding-top: 5px;
    margin-bottom: 15px;
}

.social-links a{
    margin-right: 10px;
    
}

.Subscribe{
    margin-bottom: 15px;
}

.email{
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    background: black;
    padding: 8px ;
    margin-bottom: 8px;
}